* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

.sec-font {
    font-family: 'Raleway', sans-serif;
}

.hero,
.toggle,
footer,
footer .address,
footer .map,
footer .copyright,
footer .questions,
ul,
ul li a:hover:after,
.logo-mobile,
.video-container video.fillWidth {
    width: 100%;
}

.hero {
    background: url(img/bg2.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    height: 700px;
    margin-top: -100px;
}

nav {
    position: relative;
}

.toggle {
    display: block;
    position: absolute;
    padding: 10px 20px;
    background-color: #2f2c2b;
    text-align: right;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
}

.logo-mobile {
    display: block;
    position: relative;
    top: 0;
    left: 25%;
    height: 50px;
    width: 200px;
}

.logo {
    display: none;
}

ul {
    display: none;
    background-color: #2f2c2b;
    margin: 0 auto;
    padding: 0;
}

ul li {
    display: block;
    text-align: center;
    list-style-type: none;
    padding: 20px;
}

ul li:hover {
    cursor: pointer;
    background-color: #f42563;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.active {
    display: block;
}

ul li a {
    position: relative;
    text-decoration: none;
    color: white;
}

ul li a:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    border-bottom: 3px solid #f42563;
    transition: 0.2s;
}

.menu {
    cursor: pointer;
}

.products {
    display: grid;
}

.product-about {
    margin: 5% 10%;
    text-align: center;
}

.img {
    max-height: 100%;
    width: 100%;
}

.product-about h2 {
    margin-bottom: 20px;
}

.video-container {
    display: grid;
    justify-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    height: 210px;
    width: 100%;
    overflow: hidden;
    background-color: #86766e;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 0.2em;
    text-align: center;
    font-size: 18px;
    color: white;
}

.video-container h1 {
    margin: 15px auto;
}

.video-container h3 {
    padding: 0 40px;
}

.video-container video {
    z-index: 0;
    bottom: 0;
}

.video {
    position: relative;
    grid-template-columns: 100%;
    z-index: 0;
    grid-column: 1/3;
    border-right: none;
    border-left: none;
}

.box-icons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: #f36969;
    color: white;
    text-align: center;
}

.box {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 10% 10%;
}

.box h3 {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 20px 0;
}

.section-heading {
    text-align: center;
    padding: 80px 0;
    max-width: 900px;
    margin: 0 auto;
}

.section-heading h2,
.section-heading h1 {
    background-color: #fff;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 0 100px;
    color: #325ad1;
    font-size: 45px;
}

.section-heading h1 {
    font-size: 55px;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 1fr 10%;
    justify-items: center;
    align-items: center;
}

footer .address {
    display: grid;
    grid-template-rows: repeat (3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 20px 0;
}

footer .boxes {
    display: grid;
    justify-items: center;
    color: #325ad1;
    background-color: #fff;
}

footer .boxes img {
    padding: 10px;
}

footer .boxes p {
    padding-bottom: 20px;
}

footer .map {
    height: 100%;
}

footer .copyright {
    background-color: #2f2c2b;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

.logo-footer {
    width: 270px;
    height: 70px;
}


/*----------------------------TABLET --------------------------------*/

@media (min-width: 780px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    nav,
    ul,
    .products,
    .product-1,
    .product-2,
    .product-3,
    .product-4 {
        width: 100%;
    }
    p {
        line-height: 1.4;
    }
    .product-1,
    .product-2,
    .product-3,
    .product-4 {
        height: 440px;
    }
    img.img {
        height: 440px;
    }
    .hero {
        height: 700px;
        margin-top: -110px;
    }
    nav {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        background-color: #2f2c2b;
        justify-items: end;
        padding: 20px 0;
        top: 50px;
        z-index: 9999;
        position: relative;
        height: 70px;
    }
    .logo-mobile {
        display: none;
    }
    .menu-links {
        grid-column: 2/3;
    }
    ul {
        display: inline;
        margin: 0 auto;
        margin-top: -80px;
        padding: 0;
        text-align: center;
    }
    ul li {
        display: inline-block;
        list-style-type: none;
        margin: 30px 9px 4px 9px;
        padding: 4px 5px;
    }
    .toggle {
        display: none;
    }
    .logo {
        width: 270px;
        height: 70px;
        display: block;
    }
    .products {
        display: grid;
        grid-template-columns: 1fr;
    }
    .product-1,
    .product-3 {
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-column-gap: 20px;
        grid-template-rows: 1fr;
        justify-items: center;
        background-color: #f9f3f3;
    }
    .product-2,
    .product-4 {
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-column-gap: 20px;
        grid-template-rows: 1fr;
        justify-items: center;
        background-color: #fff;
    }
    .product-about {
        display: grid;
        justify-items: center;
        align-items: center;
        margin: 10%;
    }
    .product-about h2 {
        text-align: center;
        margin-bottom: 40px;
    }
    .img {
        width: 100%;
        height: 100%;
    }
    .box {
        text-align: center;
        margin: 20% 10%;
    }
    .video-container {
        height: 430px;
    }
    .video-container h1 {
        margin: 50px auto;
    }
    .video-container h3 {
        padding: 0 50px;
        width: 75%;
        margin: 0 auto;
    }
    .video-container filter {
        padding: 1em;
    }
    .box-icons {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 1fr 10%;
    }
    footer .address {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    footer .map {
        grid-row: 2/3;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    footer .copyright {
        grid-row: 3/4;
    }
    .questions button {
        background-color: #fff;
        padding: 15px 30px;
        color: #325ad1
    }
}


/*-----------------------------------DESKTOP------------------------------------*/

@media (min-width: 1100px) {
    .video-container {
        height: 500px;
    }
    .video-container h1 {
        margin: 70px auto;
        font-size: 60px;
    }
    ul li {
        padding: 4px 5px;
        margin: 35px 20px 4px 20px;
    }
    .product-1,
    .product-3 {
        grid-template-columns: 4fr 3fr;
    }
    .product-2,
    .product-4 {
        grid-template-columns: 3fr 4fr;
    }
    .product-1,
    .product-2,
    .product-3,
    .product-4 {
        height: 400px;
    }
    img.img {
        height: 400px;
    }
    p {
        line-height: 1.6;
    }
}